

:root {
    --primaria: #282C33;
    --secundaria: #ABB2BF;
    --terciaria: #C778DD;
    --branco: #FFF;
    --fonte: 'Fira Code', monospace;
    --azul: #0b1657;
}

body {
    background-color: var(--primaria);
    color: var(--branco);
}

* {
    margin: 0;
    border: none;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}



/* HEADER */
.esq {
   position: fixed;
   padding-left: 20px;
} 

.linha {
    height: 150px;
    color: var(--branco);
    border-left: solid;
    align-self: center;
}

.cabecalho {
    width: auto;
    display: flex;
    padding: 2em 1em 1em 7em;
    justify-content: space-between;
    align-items: flex-end;
}

.div_logo{
    gap: 8px;
}

.taghax {
    color: var(--terciaria);
}

.nav_header {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte);
    font-weight: 400;
    opacity: 0.5;
}

.nav_header:hover {
    opacity: 1;
}

.logo_header {
    font-weight: 700;
    font-family: var(--fonte);
    text-transform: uppercase;
    background: -webkit-linear-gradient(left ,var(--branco), var(--primaria));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* MAIN */

.det_roxo {
    color: var(--terciaria);
}

.text_main {
    color: var(--branco);
    text-transform: uppercase;
    font-family: var(--fonte);
    font-weight: 600;
}

.parag_main {
    font-family: var(--fonte);
    color: #ABB2BF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.btn_cv {
    border: 1px solid var(--terciaria);
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fonte);
    color: var(--branco);
}

.text_img {
    color: var(--secundaria);
}

/* MAIN PROJECTS */

.container_project {
    margin: 6rem 0;
}

.container_item_project {
    margin: 4rem 0;
}

.txt_project {
    font-family: var(--fonte);
    font-weight: 500;
}

.line_projects {
    align-self: center;
    height: 1px;
    border: 1px solid var(--terciaria);
    margin: 5px 2rem 0px 2rem;
}

.item_card_project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_card_project {
    color: var(--branco);
    font-family: var(--fonte);
    font-weight: 500;
    font-size: 24px;
    align-self: center;
}

.card-body-project {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card_container_project {
    border: 1px solid var(--secundaria);
    background-color: transparent;
    font-family: var(--fonte);
    color: var(--secundaria);
    
}


.item__1 {
    background-color: transparent;
    border: 1px solid var(--secundaria);
    color: var(--branco);
}

.progress_bar {
    background-color: var(--secundaria);
}

.card-btn-project {
    border: 1px solid var(--terciaria);
    color: var(--branco);
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    font-family: var(--fonte);
    padding: 8px 10px;
}

.card-btn {
    display: flex;
    justify-content: center;
}

/* SKILLS */
.container_skills {
    display: grid;
    grid-template-areas: 
    "a b"
    "a b";
}

.container-btn_modal {
    height: 15vh;
    width: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--terciaria);
    box-shadow: 1px 1px;
}

.container-btn_modal a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    box-shadow: var(--terciaria);
    border-radius: 1px #000;
    text-transform: uppercase;
    color: var(--secundaria);
    font-family: var(--fonte);
}

.modall {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.664);
    transition: all 0.5s;
}

.modall:target {
    visibility: visible;
    opacity: 1;
}

.modal_content {
    font-family: var(--fonte);
    border-radius: 20px;
    position: relative;
    width: 100%;
    max-width: 50%;
    background: var(--primaria);
    padding: 1em 1em;
}

.modal_footer {
    text-align: right;
    margin-top: 50px;
}

.modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

/* MODAL BACK-END */

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;
    
}

.modal-back {
    transform: scale(1);
    .modal-background {
        background: rgba(0, 0, 0, .0);
        animation: fadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1000) forwards;
        .modal-bond {
            height: 75px;
            width: 75px;
            border-radius: 75px;
            overflow: hidden;
            animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            h2,p {
                opacity: 0;
                position: relative;
                animation: modalContentFadeIn .5s 1.4s linear forwards;
            }
        }
    }
}






